body {
    margin:0px;
    background: #232323 !important;
}

h1 {
    font-family: 'Parisienne', cursive;
    font-weight: lighter;
    font-size: 2rem;
    color:whitesmoke;
    margin-bottom: 75px;
}

#main-container {
    width:100%;
    height:auto;
}

#menu {
    
    margin:0px auto;
    width:50%;
    min-width: 350px;
    display:flex;
    justify-content: center;
    padding-top:55px;
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    font-size: large;
}


#menu a:link {
    color:whitesmoke;
    text-decoration: none;
}

#menu a:visited {
    color:whitesmoke;
    text-decoration: none;
}

#menu a:hover {
    color:whitesmoke;
    text-decoration: underline;
}



#menu-block-one {
    margin-right:50px;
    
}

#menu-block-two {
    margin-left:50px;
}
.menu-item {
    margin:10px;
    display:inline-block;
}



#hero-image {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #FFF;
}


/* The hero image */

.hero-image {
    /* The image used */
    background-image: url("images/general/hero.jpeg");
    /* Set a specific height */
    height: 914px;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* Place text in the middle of the image */

.hero-text {
    text-align: center;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f5f5f5;
    text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 1px;
    font-family: 'Cormorant', serif;
    font-weight: 300;
    font-weight: normal;

    
}

.hero-animation {
    animation: fadein 4s;
    -moz-animation: fadein 42s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.call-to-action {
    font-weight:normal;
    font-size: 2rem
}
.hero-text-para {
    width:45%;
    min-width: 310px;
    margin: 0px auto;
    font-size: 1.2rem;
    text-align: left;
}


#logo-image img {
    max-width: 100%;
    height: auto !important;
    }

#social-media {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 10px;
    opacity: 0.5;
}

.down-arrow{
    opacity: 0.3;
    padding-top: 50px;
    transition:all 1s;
}

.down-arrow:hover{
    opacity: 0.6;
    transition:all 1s;
}

/* container details */
.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
    justify-content:center;
    width:85%;
    margin: 0px auto;
    
}

.flex-container-footer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
    justify-content:center;
    width:70%;
    margin: 0px auto;
   
}

.flex-item {
	-webkit-flex: 1 0 350px;
    flex: 1 0 350px;
    margin:15px;

}
 #contact {
    width: 100%;
    text-align: center;
    height:auto;
    margin-bottom:200px;
}
#contact textarea {
    border-bottom: 2px solid rgba(255, 255, 255, 0.041);
    border-right: 2px solid rgba(255, 255, 255, 0.041);
    border-left: 2px solid rgba(255, 255, 255, 0.041);
    outline:none;
}
#contact h4 {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Cormorant', serif;
    font-variant: small-caps;
    font-weight: 300;
    font-size: 1.4rem;
    margin-top: -23px;
}
#about {
    width: 100%;
    text-align: center;
    height:auto;
    margin-bottom:200px;
}

.about-content {
    width:90%;
    max-width:900px;
    margin:0px auto;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Cormorant', serif;
    font-variant: small-caps;
    font-weight: 300;
    font-size: 1.4rem;
    text-align: left;
    padding: 10px;
}


#gallery {
    width: 100%;
    text-align: center;
    height:auto;
    margin-bottom:200px;
}

.grid-container img {
    width:100%;
    height:100%;
    object-fit: fill;
    object-position: center;
  
}
.grid-container {
    margin:0px auto;
    width:90%;
    max-width:1200px;
    max-height:1000px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "Gallery1 Gallery2 Gallery3 Gallery4" "Gallery5 MainGallery MainGallery Gallery6" "Gallery7 MainGallery MainGallery Gallery8" "Gallery9 Gallery10 Gallery11 Gallery12";
  }
  
  .MainGallery { 
    grid-area: MainGallery;
    overflow: hidden;

 }
  
  .Gallery1 { 
    grid-area: Gallery1;  
    overflow: hidden;
}
  
  .Gallery2 { 
    grid-area: Gallery2; 
    overflow: hidden;

}
  
  .Gallery3 { 
    grid-area: Gallery3; 
    overflow: hidden;

}
  
  .Gallery4 { 
    grid-area: Gallery4;  
    overflow: hidden;

  }
  
  .Gallery5 { grid-area: Gallery5;  overflow: hidden;

  }
  
  .Gallery6 { grid-area: Gallery6;  overflow: hidden;

 }
  
  .Gallery7 { grid-area: Gallery7; overflow: hidden;
    

  }
  
  .Gallery8 { grid-area: Gallery8; overflow: hidden;
  
 }
  
  .Gallery9 { grid-area: Gallery9; overflow: hidden;

    }
  
  .Gallery10 { grid-area: Gallery10; overflow: hidden;
 
 }
  
  .Gallery11 { grid-area: Gallery11;  overflow: hidden;

    }
  
  .Gallery12 { grid-area: Gallery12;  overflow: hidden;
  
   }

#pricing {
    width: 100%;
    text-align: center;
    height:auto;
    margin-bottom:200px;
    margin-top:100px;
}
.form {
    width: 90%;
    margin:0px auto;
    max-width:900px;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #666;
    color: whitesmoke;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
  }
  
  #topBtn:hover {
    background-color: #FFF; /* Add a dark-grey background on hover */
    color: #666; /* Add a dark-grey background on hover */
  }
.price-box {
    width: 300px;
    min-height: 500px;
    height: auto;
    border: 1px rgba(255, 255, 255, 0.1) solid;
}

.price-box-item {
    -webkit-flex: 0 1 300px;
    flex: 0 1 300px;
    min-width: 300px;
    max-width: 300px;
    margin-left:2px;
    margin-right:2px;
    margin-bottom: 90px;
}

.price-box-item-feature {
    
    height: auto;
    border: 1px rgba(255, 255, 255, 1) solid;
}

.price-box-header {
    margin: 0px auto;
    background-color: #232323;
    width: 200px;
    height: auto;
    margin-top: -20px;
    font-family: 'Parisienne', cursive;
    font-weight: normal;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.8);
}

.price {
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    font-weight: 100;
    font-size: 3.6rem;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    height: auto;
    margin: 0px auto;
    padding-bottom: 25px;
    margin-bottom: 10px;
    margin-top:10px;
}

.second-price {
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    font-weight: 100;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    height: auto;
    margin: 0px auto;
    padding-bottom: 25px;
    margin-bottom: 10px;
    margin-top:10px;
}

.list-item {
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    font-weight: 100;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    height: auto;
    margin: 0px auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
/*featured styles*/
#featured {
    width:100%;
    padding-top: 100px;
    padding-bottom :100px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Cormorant', serif;

    font-weight: 300;
    
}

#featured img {
    max-width: 100%;
    height: auto !important;
    }
#featured h1 {
    margin: 0px;

}

#footer {
    color:rgba(255, 255, 255, 0.8);
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    height: auto;
    width: 100%;
    margin-bottom: 55px;
}

#footer h4 {
    font-weight:500;
    font-size:1.2rem;
    margin:0px;
}
#footer .contact {
    margin: 0px auto;
    justify-content: center;
    align-content: center;
    font-weight:500;
    font-size:0.9rem;
    text-align: center;
    height:140px;
    border-right:1px rgba(255, 255, 255, 0.041) solid;
    
}

.contact p {
    margin-top: -4px;
    
}

#footer .feature {
    margin: 0px auto;
    justify-content: center;
    align-content: center;
    font-weight:500;
    font-size:0.9rem;
    text-align: center;
    height:140px;
    border-right:1px rgba(255, 255, 255, 0.041) solid;
   
}

.feature p {
    
    font-family: 'Cormorant', serif;
    margin-top: 30px;
    margin: 20px;
}
#footer .designedby {
    margin: 0px auto;
    justify-content: center;
    align-content: center;
    font-weight:500;
    font-size:0.9rem;
    text-align: center;
    height:140px;
    
}
#footer img {
    max-width: 100%;
    height: auto !important;
    opacity: 0.5; 
    width:30%;
    
}

.flex-strip-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: center;
	justify-content:center;
}

.flex-strip-item {
	-webkit-flex: 0 1 90px;
    flex: 0 1 90px;
    margin:10px;
    
}

.flex-strip-item img {
    max-width: 100%;
    height: auto !important;
    }


/*
====
Starting new section for fields
====
*/

.field{
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, rgba(255, 255, 255, 0.4));
  }
  
  .field__input{ 
      background-color: transparent;
      border-radius: 0;
    border: none;
      
      -webkit-appearance: none;
      -moz-appearance: none;
      
      font-family: inherit;
      font-size: 1em;
  }
  
  .field__input:focus::-webkit-input-placeholder{
      color: var(--uiFieldPlaceholderColor);
  }
  
  .field__input:focus::-moz-placeholder{
      color: var(--uiFieldPlaceholderColor);
      opacity: 1;
  }
  
  /*
  =====
  LEVEL 2. CORE STYLES
  =====
  */
  
  .field{
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Cormorant', serif;
    font-variant: small-caps;
  }
  
  .field__input{ 
      display: block;
      box-sizing: border-box;
      width: 100%;
      color: rgba(255, 255, 255, 0.8);
      font-family: 'Cormorant', serif;
      font-variant: small-caps;
  }
  
  /*
  =====
  LEVEL 3. PRESENTATION STYLES
  =====
  */
  
  /* field_animated */
  
  .field_cont {
      height:80px;
  }
  .field__value__present {
      opacity: 1;
      bottom: var(--uiFieldHeight);  
  }
  .field_animated{
    --uiFieldHeight: var(--fieldHeight, 40px);  
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldBorderColor: var(--fieldBorderColor);
    
    --uiFieldFontSize: var(--fieldFontSize, 1em);
    --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);
  
    --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
    --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);   
   
      position: relative;
      box-sizing: border-box;
    font-size: var(--uiFieldFontSize);
      padding-top: 1em;  
  }
  
  .field_animated .field__input{
    height: var(--uiFieldHeight);
    padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);  
  }
  
  .field_animated .field__input::-webkit-input-placeholder{
      opacity: 0;
      transition: opacity .4s ease-out;
  }
  
  .field_animated .field__input::-moz-placeholder{
      opacity: 0;
      transition: opacity .4s ease-out;
  }
  
  .field_animated .field__input:focus{
      outline: none;
  }
  
  .field_animated .field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
    opacity: 0;
    bottom: var(--uiFieldPaddingBottom);
}

.field__label1{
    opacity: 1;
    text-align: left;
    position: relative;
    float: left;
    left: 15px;
    top: -15px;
}
  
  .field_animated .field__input:focus::-webkit-input-placeholder{
      opacity: 1;
      transition-delay: .2s;
  }
  
  .field_animated .field__input:focus::-moz-placeholder{
      opacity: 1;
      transition-delay: .2s;
  }
  
  .field_animated .field__label-wrap{
      box-sizing: border-box;
      width: 100%;
      height: var(--uiFieldHeight);	
      
      pointer-events: none;
      cursor: text;
  
      position: absolute;
      bottom: 0;
      left: 0;
  }
  
  .field_animated .field__label{
      position: absolute;
      left: var(--uiFieldPaddingLeft);
    bottom: var(--uiFieldPaddingBottom);
      
    line-height: 1;
    font-size: var(--uiFieldHintFontSize);
    
      pointer-events: none;
      transition: bottom .5s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .5s ease-out;
      will-change: bottom, opacity;
  }
  
  .field_animated .field__input:focus ~ .field__label-wrap .field__label{
      opacity: 1;
    bottom: var(--uiFieldHeight);
  }
  
  
  
  /* field_a2 */
  
  .field_a2 .field__label-wrap:after{
      content: "";
    box-sizing: border-box;
    width: 0;
      height: var(--uiFieldBorderWidth);
    background-color: var(--fieldBorderColorActive);
    
      position: absolute;
      bottom: 0;
      left: 0;  
    
      will-change: width;
      transition: width .285s ease-out;
  }
  
  .field_a2 .field__input:focus ~ .field__label-wrap:after{
      width: 100%;
  }
  
  .select-form {
    width: 100%;
 
  }

.select-form option {
    margin: 40px;
    background:#232323;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: none;
    
}

*:focus {
    outline: 0;
    box-shadow: none;
  }

  
  /*
  =====
  LEVEL 4. SETTINGS
  =====
  */
  
  .field{
      --fieldBorderColor: rgba(255, 255, 255, 0.041);
      --fieldBorderColorActive: rgba(255, 255, 255, 1.0);
          width: 100%;
  }
  
  
  .grow { transition: all .4s ease-in-out; }
  .grow:hover {   
    transform: scale(1.1); 
}

#read-more {
    display:none;
    transition:all .5s;
}

.read-more-state {
    display: none;
  }
  
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .2s ease;
  }
  
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
    font-family: 'Cormorant', serif;
    font-variant: small-caps;
    font-weight: 300;
    font-size: 1.4rem;
  }
  
  .read-more-state ~ .read-more-trigger:before {
    content: 'Read More';
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Read Less';
  }
  
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 15px 49px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Cormorant', serif;
    font-variant: small-caps;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all .3s;
    background: transparent;
    
  }

  .read-more-trigger:hover {
    cursor: pointer;
    display: inline-block;
    padding: 15px 49px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Cormorant', serif;
    font-variant: small-caps;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all .3s;
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }


  .logo {
      width:200px;
  }

  nav .navbar-nav li a{
    color: white !important;
    }
